@import url('./vendors/normalize.css');
@import url('./vendors/fonts/fonts.css');

h1,h2,h3,img,p,ul,li,button {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  background: none;
}

p {
  font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-align: center;
}

.page {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(255, 223, 140, 1);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content {
  width: 1340px;
  background: #fff;
  margin: 45px;
  padding: 48px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.title {
  font-family: Proxima Nova;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: left;
}

.subtitle {
  color: rgba(123, 123, 123, 1);
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.headerTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 38px;
  height: 38px;
  margin-right: 17px;
}

.cartButton {
  display: flex;
  width: 150px;
  height: 50px;
  background: rgba(254, 95, 30, 1);
  border-radius: 30px;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.lineBetween {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.25);;
  width: 2px;
  height: 25px;
}
.cartButtonUnit {
  display: flex;
  p {
    margin-left: 8px;
  }
}

.pizzaSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(246, 246, 246, 1);
  padding-top: 40px;

}

.pizzaTypes {
  width: 800px;
  display: flex;
}

.pizzaType {
  min-width: 55px;;
  padding: 14px 25px;
  align-items: center;
  margin-right: 9px;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.015em;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  background: rgba(249, 249, 249, 1);
}

.pizzaType:last-child {
  margin: 0;
}

.pizzaType:first-child {
  background: rgba(40, 40, 40, 1);
  color: #fff;
}

.pizzaType:hover {
    background: rgba(40, 40, 40, 1);
    color: #fff;
    transition: 0.1s ease-in-out;
}

.main {
  margin-top: 32px;
}

.mainTitle {
  font-family: Proxima Nova;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.01em;
  text-align: left;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-left: 5px;
  }
}

.sortList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortListUnit {
  margin-left: 8px;
  border-bottom: 1px dashed rgba(254, 95, 30, 1);
  color: rgba(254, 95, 30, 1);
  cursor: pointer;
}

.cardItemImage {
  width: 260px;
  height: 260px;
}

.mainTitle {
  margin: 35px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-bottom: 65px;
}

.cardItemName {
  margin-bottom: 22px;
}

.cardItemProps {
  background: rgba(243, 243, 243, 1);
  width: 280px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardItemProp {
  display: flex;
  justify-content: space-evenly;
}

.cardItemPropType {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 32px;
  min-width: 86px;
  border-radius: 10px;
  margin: 2px;
  font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-align: center;
  color: rgba(44, 44, 44, 1);

}
.cardItemPropType:first-child {
  background: #fff;
}

.cardItemPropType:hover {
  background: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease-in-out;
}

.doughType {
  width: 132px;
}

.outOfStock {
  opacity: 0.2;
  cursor: default;
}

.cardItemPriceAndBuy {
  display: flex;
  margin-top: 17px;
  align-items: center;
}
.cardItemPrice {
  font-family: Proxima Nova;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0.015em;
  text-align: left;
  margin-right: 36px;
}

.cardItemBuyButton{
  cursor: pointer;
  display: flex;
  width: 132px;
  height: 40px;
  justify-content: end;
  align-items: center;
  background: #fff;
  color: rgba(235, 90, 30, 1);
  border: 2px solid rgba(235, 90, 30, 1);
  background-image: url('../public/images/plus.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 12px;
  border-radius: 30px;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  padding-right: 16px;
  p {
    background-color: rgba(235, 90, 30, 1);
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
  }
}

.cardItemBuyButton:hover {
  background: rgba(235, 90, 30, 1);
  color: #fff;
  transition: 0.1s ease-in-out;
  background-image: url('../public/images/whiteplus.svg');
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 12px;
}



